<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <!-- This key is used decide which configuration class to build -->
    <!-- False means local, true means remote -->
    <add key="Remote" value="false"/>
    <add key="Browser" value="firefox"/>
    <add key="Platform" value="Windows"/>
    <add key="BrowserVersion" value="32"/>
    <add key="SeleniumHubUrl" value="http://localhost"/>
    <add key="SeleniumHubPort" value="4444"/>

    <!-- The Url of the application under test/check -->
    <add key="ApplicationUrl" value ="https://login.live.com"/>
  </appSettings>
</configuration>